body {
  max-width: 8.5in;
  height: 33in;
  font-family: 'Nunito', sans-serif;
  color: #f4f4f4;
  font-size: 14px;
}

.do-not-break,
section {
  page-break-inside: avoid;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
